// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.payment-page{
  display:inline-flex;
}
.payment-form
{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 16px;
}
form
{
  display:inline-block;
}
.payment-form div
{
  white-space:nowrap;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
select
{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=text] {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
tr:nth-child(even) {
  background: #D0E4F5;
}
td
{
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  font-size: 13px;
}
th
{
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
label {
  margin-bottom: 10px;
  display: inline;
}
table{
  border: 1px solid #1C6EA4;
 background-color: #EEEEEE;
 width: 100%;
 text-align: left;
 border-collapse: collapse;
}
.del-btn {
  margin:0px !important ;
}
.checkout-btn
{
  float: right;
  width: 30%;
}
.cart-total
{
  display: block !important;

  float: right;
  width: 100% !important;
}
