// Place all the styles related to the PizzaCanada controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pc_logo {
  height: 30em;
  width: 30em;
}

#info_body {
  background-image: url("https://png.kisspng.com/20180331/ajw/kisspng-sugar-maple-maple-leaf-stock-photography-clip-art-maple-leaf-5ac000dbbe6d95.74673778152253257178.png");
  background-repeat: no-repeat;
}

#pizza_canada_menu {
  background-color: #f1f1c1;
  border: 1em solid black;
}
#pizza_canada_menu td {
  padding: 2em;
}

.pizza_canada_pizza_image {
  height: 20em;
  width: 20em;
}
