


<div class="conatiner">

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th></th>
    </tr>

    <tr>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><% restaurant.name %></td>
          <td><% restaurant.phoneNumber %></td>
          <td><%= link_to 'Show', restaurant_path(restaurant) %></td>
      <% end %>
    </tr>

  </table>

</div>
