

<div class="container">


  <h1 class="text-center"><%= @restaurant.name %></h1>

  <ul class="noPoints">
    <li><strong>Email</strong></li>
    <li><%= @restaurant.email %></li>
    <li><strong>Phone Number</strong></li>
    <li><%= @restaurant.phoneNumber %></li>
  </ul>


</div>
