<div class="container">
  <h1 class="text-center">Home</h1>

  <ul class="list-inline">
    <li class="list-inline-item"><%= link_to 'Info', pizza_canada_info_path %></li>
    <li class="list-inline-item"><%= link_to 'Menu', pizza_canada_menu_path %></li>
  </ul>
</div>
