<body id="info_body">
  <div class="container">
    <h1 class="text-center">Info</h1>
    <p class="text-center">We here at Pizza Canada believe all good pizzas start with fresh ingredients. That's why all our pizzas use the freshest ingredients we can find. Moreover,
    we do not believe pizzas that sit around for long are as good as freshly made ones. When you order a pizza from us, we make and bake it when the order is placed, instead of using one that was
    baked earlier in the day. This process ensures all our pizzas taste as good as possible. </p>

    <p class="text-center">We work closely with にこまき pizza delivery services to reduce customer costs for our pizzas, while still allowing you to enjoy our pizzas, without ever having to leave
    your home. We are very proud to sponsor this delivery service, and hope you enjoy the ease of ording a pizza from us.</p>

    <p class="text-center">Our phone number is 778-782-3111. Please contact us if you have any questions, we are happy to help.</p>

  </body>

  <div>
    <!-- back button goes here -->

  </div>
</div>
