<div class="container">
  <h1 class="text-center">Menu</h1>

  <p class="text-center">Below are our delicious pizza's. Each one is baked with fresh ingredients. We hope you enjoy them!</p>

  <table id="pizza_canada_menu">
    <tr>
      <td><img class="pizza_canada_pizza_image" src="/assets/pizzas/pineapple.png" alt="Ham and Pineapple Pizza"></dh>
      <td>Ham and Pineapple Pizza</td>
      <td>$10</td>
      <td><img class="pizza_canada_pizza_image" src="/assets/pizzas/pepperoni.jpg" alt="Pepperoni Pizza"></td>
      <td>Pepperoni Pizza</td>
      <td>$10</td>
    </tr>
    <tr>
      <td><img class="pizza_canada_pizza_image" src="/assets/pizzas/cheese.png" alt="Cheese Pizza"></td>
      <td>Cheese Pizza</td>
      <td>$8</td>
      <td><img class="pizza_canada_pizza_image" src="/assets/pizzas/veggie.jpg" alt="Veggie Pizza"></td>
      <td>Veggie Pizza</td>
      <td>$12</td>
    </tr>
    <tr>
      <td><img class="pizza_canada_pizza_image" src="/assets/pizzas/blackolive.jpg" alt="Olive and Ham Pizza"></td>
      <td>Black Olive Ham Pizza</td>
      <td>$15</td>
      <td><img class="pizza_canada_pizza_image" src="/assets/pizzas/garlic.jpg" alt="Garlic Pizza"></td>
      <td>Garlic Pizza</td>
      <td>$12</td>
    </tr>
  </table>

  <div style="padding:2em">

  </div>
  <%= link_to "Order", products_path,  class:"button" %>
  <%= link_to 'Back', pizza_canada_home_path, class:"button" %>


</div>
