<div class="container">
  <h1 class="text-center">Menu</h1>

  <p class="text-center">Below are our delicious pizza's. Each one is baked with fresh ingredients. We hope you enjoy them!</p>

  <table id="pizza_canada_menu">
    <tr>
      <td><img class="pizza_canada_pizza_image" src="https://www.cicis.com/media/1140/pizza_adven_hampineapple.png" alt="Ham and Pineapple Pizza"></dh>
      <td>Ham and Pineapple Pizza</td>
      <td>$10</td>
      <td><img class="pizza_canada_pizza_image" src="https://cdn.ruled.me/wp-content/uploads/2014/08/pepperonipizza.jpg" alt="Pepperoni Pizza"></td>
      <td>Pepperoni Pizza</td>
      <td>$10</td>
    </tr>
    <tr>
      <td><img class="pizza_canada_pizza_image" src="https://www.cicis.com/media/1149/pizza_trad_cheese.png" alt="Cheese Pizza"></td>
      <td>Cheese Pizza</td>
      <td>$8</td>
      <td><img class="pizza_canada_pizza_image" src="https://www.ruchiskitchen.com/wp-content/uploads/2016/02/veggie-pizza-3-1.jpg" alt="Veggie Pizza"></td>
      <td>Veggie Pizza</td>
      <td>$12</td>
    </tr>
    <tr>
      <td><img class="pizza_canada_pizza_image" src="https://upload.wikimedia.org/wikipedia/commons/6/64/Pizza_with_ham%2C_pepperoni%2C_olive_and_onion.jpg" alt="Olive and Ham Pizza"></td>
      <td>Black Olive Ham Pizza</td>
      <td>$15</td>
      <td><img class="pizza_canada_pizza_image" src="http://www.recipe4living.com/assets/itemimages/400/400/3/default_6ebeb93c06ed477504b654cc67042f58_white%20pizza.jpg" alt="Garlic Pizza"></td>
      <td>Garlic Pizza</td>
      <td>$12</td>
    </tr>
  </table>

</div>
