
<div class="container text-center">
  <h1>About</h1>
</div>

<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#english">English</a></li>
    <li><a data-toggle="tab" href="#japanese">日本語</a></li>
  </ul>

  <div class="tab-content">
    <div id="english" class="tab-pane fade in active">
      <p>
        This website is created by Thomas, Lukas, Julian, Duke.
      </p>
      <p>
        It is for the group project for CMPT 470 of SFU. This website allows you to order pizza from various restaurants.
      </p>
    </div>
    <div id="japanese" class="tab-pane fade">
      <p>
        このサイットはトマスさんとルカスさんとジュリアンさんとデゥくさんが作りました。
      </p>
      <p>
        CMPT470のプロジェクトです。色々なレストランでピザをご注文できます。
      </p>
    </div>
  </div>

</div>

<div class="container">
  <p><%= link_to 'Home', root_path %></p>
</div>
