
<!-- of course we use american spelling of centre...-->
<div class="container text-center">
  <h1>Welcome to にこまき Pizza Delivery</h1>

</div>

<div class="container">
  <% if user_signed_in? %>
    <p>
      <%= link_to 'Show Restaurants', restaurants_path, :class => 'navbar-link' %>
    </p>
  <% end %>
  <p>
    <%= link_to 'About', home_about_path, :class => 'navbar-link' %>
  </p>
</div>
