
<div class="container text-center">
  <h1>About</h1>
</div>

<div class="container">


  <div>
    <%= link_to "Customer Sign up", new_user_registration_path, :class => 'btn btn-lg btn-primary'  %>
  </div>
  <div>
    <%= link_to "Driver Sign up", new_driver_registration_path, :class => 'btn btn-lg btn-danger'  %>
  </div>


<div class="container">
  <p><%= link_to 'Home', root_path %></p>
</div>
