<div class="row well">
    <div class="col">
      <h4><%= store.streetAddress %></h4>
      <h4><%= store.city %></h4>
      <h4><%= store.province %></h4>
      <h4><%= store.zipCode %></h4>
    </div>
</div>
