
<div class="container customContainer">
  <h1 class="text-center">Stores</h1>

  <% @stores.each do |store| %>
    <%= render "store_row", store: store, current_order: @order %>
  <% end %>

  <% if restaurant_signed_in? %>
    <%= link_to 'New', new_store_path %>
  <% end %>

</div>
